.rotate-box {
    width: 150px;
    height: 150px;
    background-color: #9C27B0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 50px auto;
    font-size: 20px;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.rotate-box:hover {
    transform: rotateY(180deg);
}