#div1 {
    border: 1px solid;
    width: 200px;
    height: 200px;
    background-color: brown;
    transition: transform 3s, background-color 9s;
    /* transition:line-height 4s ease; */

}

#div1:hover{
    transform: translateX(600px);
    /* background-color: cadetblue; */
    line-height: 200px;
}